<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Stock Mailer'} %>

<table class="index">
  <thead data-hook="stock_mailer_header">
    <tr>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:sent_at) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @stock_emails.each do |se| %>
      <tr id="stock_email_<%= se.id %>">
        <td class="align-center"><%= se.email %></td>
        <td class="align-center">
          <% sent_at_text = se.sent_at ? I18n.l(se.sent_at, format: '%a, %d %b %Y %H:%M:%S') : Spree.t(:not_sent) %>
          <%= sent_at_text %>
        </td>
        <td class="actions">
          <%= link_to_edit_url edit_admin_product_stock_email_url(@product, se), no_text: true %>
          <%= link_to_delete '', { url: admin_product_stock_email_url(@product, se), no_text: true } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
